@import url(./reset.css);

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

header h1 {
    color: burlywood;
    font-size: 45px;
}

.list li > a {
    color: blue;
}

img ~ p {
    padding: 10px;
}

.wrapper img {
    min-width: 550px;
}

.wrapper img + p {
    color: rgb(87, 43, 43);
    font-weight: bold;
}

.text > a {
    color: blue;
}

[class*='sub'] {
    font-size: 30px;
    color: rgb(106, 79, 45);
}

.subtitle ~ p {
    padding: 5px;
}

.content p > a,.section p > a {
    color: blue;
}

.section {
    padding-bottom: 10px;
}

.list-contact .contact-item > a {
    color: blue;
}


